.connectButton {
    border: none;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 2.5px;
    padding: 5px 7.5px;
    cursor: pointer;
    transition: 0.2s;
}

.connectButton:active {
    transform: translateY(1px);
}

.connectButton:hover {
    background-color: lightgray;
}